:root{
  --bg-color: #000;
  --bg-color-2: #212529;
  --font-color: #d3d3d3;
  --border-color: #252525;
}
body {
  background: var(--bg-color);
  color: var(--font-color);
  padding: 1rem;
}
blockquote, code{
  background: var(--bg-color-2);
}
.layout-container {
  max-width: 960px;
}
table {
  table-layout: fixed;
}
s {
  color: grey;
}
.site-footer{
  padding: 0;
}
code {
  padding: 1px 4px;
  border-radius: .25em;
}
.views-row {
  margin: 10px 0;
  font-size: 18px;
}
a {
  border: 0;
}
h1, a, a:hover, a:focus {
  color: var(--font-color) !important;
}
.front .pager {
  margin-top: 20px;
}
.front{
  margin-top: 50px;
}
.front .pager__items {
  text-align: left;
}
.pager__item {
  padding: 0;
}
.pager__item a {
  width: 30px;
  text-align: center;
}
footer {
  margin: 50px 0;
}
footer .menu-item {
  display: inline;
  margin-right: 20px;
}
.region-breadcrumb,
ul.menu {
  padding: 0;
}
input.button{
  border-radius: 4px;
}
input[type="text"],
input[type="password"],
input[type="search"],
textarea{
  background: var(--bg-color-2);
  color: #fff !important;
  border: 1px solid var(--border-color) !important;
  padding: .3rem .5rem !important;
  border-radius: 4px;
}
.filter-wrapper{
  border: 1px solid var(--border-color);
}
.button{
  background: var(--bg-color-2);
  border: 1px solid var(--border-color);
  color: var(--font-color);
}
.toolbar button.toolbar-icon,
.toolbar .toolbar-toggle-orientation,
.toolbar .toolbar-menu,
.toolbar .toolbar-tray{
  background-color: #0f0f0f;
}
.toolbar-tray-horizontal .menu-item--expanded{
  background-color: #454545;
}
.toolbar .level-2 > ul,
.toolbar-tray-horizontal .menu-item a:focus,
.toolbar-tray-horizontal .menu-item:hover{
  background-color: var(--bg-color);
}
.tabs ul.primary li a,
.tabs ul.primary li.is-active a{
  background-color: var(--bg-color-2);
  text-shadow: none;
  border: none;
}
.tabs ul.tabs.primary{
  background: none;
}
.tabs ul.primary li.is-active a{
  border-bottom: 1px solid #fff;;
}
.toolbar li.menu-item{
  border: none !important;
}
.toolbar-horizontal .toolbar-tray{
  border-bottom: none;
}
.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{
  border-left: none;
}
.toolbar .toolbar-tray-vertical{
  border-right: none;
}
